:root {
    --purple: rgb(78, 0, 74);
    --orange: rgb(172, 112, 0);
    --backgroundUltimate: rgb(48, 59, 58);
    --textcool: rgba(153, 51, 148, 0.911);
}
/*
* {
    border: 2px solid red;
}
*/
body {
    background: var(--backgroundUltimate);
    margin: 0;
}

.wrapper {
    width: 75%;
    margin: 0 auto;
    margin-top: 3rem;
    background:white;
    display: grid;
}

/* -------------------------- */

.topBar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--purple);
    color: var(--textcool);
}
.topBar h6, h5 {
    margin: 0;
}

.unsub {
    text-decoration: none;
    color: var(--textcool);
    grid-row: 2;
    grid-column: 3;
}

.logoUnsub {
    display: grid;
    grid-template-columns: repeat(5, minmax(33%, 100%));
    grid-template-rows: repeat(3, minmax(33%, 100%));
}

.logoText {
    display: grid;
    grid-template-rows: repeat(3, 20px);
    grid-template-columns: repeat(5, 40px);
}

.topLogo {
    width: 60px;
}

.logoText a {
    grid-column: 3;
}

.topBar h6{
    font-size: 1.2rem;
    grid-row: 2;
    grid-column: 5;
}

.topBar h5{
    font-size: 1rem;
    grid-row: 3;
    grid-column: 5;
}

/* -------------------------- */

.learnmore {
    background: linear-gradient(rgba(228, 224, 0, 0.61),rgba(228, 224, 0, 0.61)), url('../img/room1.jpg');
    background-size: cover;
    flex-direction: column;
    text-align: center;
    min-height: 700px;
}

.newOffers {
    margin-top: 300px;
}

.learnmore h1 {
    color:white;
}
/* -------------------------- */

.offers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 3rem;
    background-color: white;
    margin:4rem;
}

.offers img {
    height: 50%;
    width: 100%;
}

.offers p {
    color: gray;
}

/* -------------------------- */

.midVideo {
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.678),rgba(0, 0, 0, 0.678)), url('../img/villa.jpg');
    background-size: cover;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 700px;
}

.midVideo button {
    width: 25%;
}

.midVideo h1 {
    margin-top: 20%;
    font-size: 5rem;
    color: white;
}

.midVideo span {
    color: var(--orange);
}

/* -------------------------- */

.recOffers {
    display:grid;
    grid-template-areas: 
    "rec1 rec2"
    "rec3 rec4";
}

.recOffers img {
    vertical-align: bottom;
    width: 100%;
    height: 100%;
}

.text {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 205px;
    margin-right: 205px;
}

.recOffers h1 {
    margin-top: 26%;
} 

.recOffers p {
    color: gray;
}

/* -------------------------- */

.botBar {
    display: grid;
    background-color: var(--purple);
    width: 100%;
    color: var(--textcool);
    padding-bottom: 100px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 20px);
}

.botLogo {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(3, 20px);
}

.botLogo img {
    width: 80px;
}

.botLogo a {
    grid-row: 2;
    grid-column: 2;
}

.botLogo h6 {
    font-size: 0.8rem;
    grid-row: 2;
    grid-column: 3;
}

.contact img {
    width: 40px;
    margin-left: 20px;
    margin-top: 30px;
}

.contact {
    grid-column: 3;
    grid-row: 2;
}

/* -------------------------- */

.ButtShowMore {
	background-color:var(--purple);
	border-radius:5px;
	border: 1px solid var(--orange);
	cursor: pointer;
	color: var(--orange);
	font-size:18px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 2px 5px rgb(59, 1, 56);
}
.ButtShowMore:hover {
	background-color:rgba(0, 0, 0, 0.452);
}
.ButtShowMore:active {
	position:relative;
	top:1px;
}

@media (max-width: 320px) {
    .wrapper {
        width: 100%;
    }
}